name: Rosit Omniscient AutoRun

on:
  schedule:
    # Berjalan otomatis setiap 15 menit
    - cron: '*/15 * * * *'
  workflow_dispatch:
    # Agar tetap bisa diklik manual jika butuh

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pytz

      - name: Run Omniscient Bot
        run: python bot_emas.py
