name: Omniscient Gold Bot
on:
  schedule:
    - cron: '*/15 * * * *' # Ini perintah rahasia buat jalan tiap 15 menit
  workflow_dispatch: # Supaya tetap bisa kamu klik manual kalau butuh

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests pytz

      - name: Run Bot
        run: python bot_emas.py
